body {
    font-family: sans-serif;
}
header {
    height: 100px;
    ackground-image: linear-gradient(to right, #C71616, #0C6D27, #E8A700, #C71616);
}
.hh {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 35px;
    ox-shadow: 5px 5px 5px 5px black; 
    font-family: extra bold italic, sans-serif;
}
header {
    background: url("https://krot.info/uploads/posts/2022-02/1645042203_1-krot-info-p-appetitnii-fon-1.jpg");
}
a {
    text-decoration: none;
    margin-right: 100px;
    text-align: center;
    ackground-color: #0C6D27;
    color: #0C6D27;
    padding: 7px;
    margin-top: 80px;
    order: 3px solid #0C6D27;
}
nav {
    margin-top: 20px;
    text-align: center;

}
h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
a:hover {
    color: black;
}
.spisok {
    color: white;
    background: url("https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    text-align: left;
    font-size: 20px;
    
}
h2 {
    font-size: 30px;
    margin-left: 50px;
    margin-top: 40px;
    padding-top: 40px;
}
ul {
    margin-left: 20px;
    padding-bottom: 40px;
}
.interes {
    background-color: #AE0101;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
p {
    text-aign: center;
    color: black;
}
article {
    background-color: #E8A700;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 60px;
    ox-shadow: 0 0 10px 5px grey;
    width: 170px;
}
.popular {
    background-color: white;
    margin-bottom: 20px;
    display: inline-block;
    
}
article:hover {
    color: white;
}
.video {
    color: black;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 10px;
}
.aa {
    text-decoration: none;
    margin-right: 0px;
    text-align: center;
    ackground-color: #0C6D27;
    color: #0C6D27;
    padding: 7px;
    margin-top: 80px;
}
iframe {
    margin-top: 20px;
    margin-right: 30px;
 
}
footer {
    background-color: black;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    
}
.ff {
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
article:hover {
        box-shadow: 0 0 10px 5px grey;

}
.vvv {
    margin-top: 30px;
    display: inline-block;
    padding-right: 30px;
    margin-right: 40px;
}
.im {
     background-color: #AE0101;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
.ah {
    background-color: white;
    color: black;
    
}
.ah:hover {
    color: black;
}
.image {
    background-color: white;
    color: #E8A700;
    display: inline-block;
}
.eda {
    color: #004614;
}
article:hover {
    ransform: scale(1.5);
    transition: 0.5s linear;
}
h3 {
    padding-top: 5px;
}
.imgf {
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
}
.btb {
    position: fixed;
    top: 300px;
    left: 650px;
}
.wrap {
  margin-top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  padding: 10px;
  width: 70px;
  height: 70px;
  background: linear-gradient(90deg, rgb(23, 182, 70) 0%, rgb(23, 182, 70) 100%);
  border: none;
  border-radius: 50%;
  box-shadow: 12px 12px 24px rgba(23, 182, 70);
  transition: all 0.3s ease-in-out 0s;
  position: fixed;
    top: 400px;
    left: 850px;
}
.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
